<div class="comment" id="comment-<%= comment.id %>">
  <p class="author"><%= "#{comment.user.username} on #{comment.created_at.strftime("%B %-d, %Y %-l:%M%p")}"%></p>
  <p><%= "#{comment.content}"%></p>
</div>