<footer class="bg-dark text-center text-lg-start main-footer" style="background-color: #167FFB"> 
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <span class="text-white">Coded with ❤️ in Lisbon by </span>
    <a class="text-white" href="https://github.com/ThorOnTheRocks" target="_blank">Gianluca, </a>
    <a class="text-white" href="https://github.com/Fujanetti" target="_blank">Giuseppe, </a>
    <a class="text-white" href="https://github.com/jderen123" target="_blank">Jordan </a> <span class="text-white"> and </span>
    <a class="text-white" href="https://github.com/thales-gomes" target="_blank">Thales</a>
  </div>
 </footer>