<div>
  <a href="<%=result[:url]%>"><%= result[:title] %> </p>
    <div class="news-info d-flex">
      <p class="news-info-p"> Author: <%= result[:author] %> </p>
      <p class="ml-5 news-info-p"> Source: <%= result[:source_name] %>
    </div>
</div>