
<div>
<a href="<%=result[:url]%>"><%= result[:title] %> </p>
<div class="news-info d-flex">
<p> Author: <%= result[:author] %> </p>
<p class="ml-5">  Source: <%= result[:source_name] %>
</div>
<div>



