<nav class="navbar bg-primary navbar-expand-sm">
  <a class="navbar-brand" href="">NomadConnect</a>
  <%# Middle nav buttons %>
  <div class="navbar-nav w-auto mx-auto">
    <a class="nav-item nav-link" href="#">Link 1</a>
    <a class="nav-item nav-link" href="#">Link 2</a>
    <a class="nav-item nav-link" href="#">Link 3</a>
  </div>

  <%# Avatar button %>
  <div class="navbar-nav ">
    <div class="dropdown">
      <a class="nav-item nav-link dropdown-toggle navbar-avatar" 
        data-toggle="dropdown" id="profileDropdown"
        aria-has-popup="true" aria-expanded="false" 
        href="#">Avatar</a>

        <div class="dropdown-menu" aria-labelledby="profileDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
    </div>
  </div>
</nav>