<section class="container-flex" id="projects">
 
  <div class="row justify-content-center">
  
  <%@news_results.each do |result|  %>
    <div class="col-4 project-card mr-5">
     
      <%= image_tag result[:image], class: "img-headlines" %>
        <div class="project-card-content">
          <h4>
            <b>
            <a href="<%=result[:url]%>" target="_blank" style="color:white"><%= result[:title]%> </a>
            </b>
          </h4>
          
          <p>Source: <%= result[:source_name] %></p>
        </div>
        
    </div>
  <%end%>
  </div>
  
</section>