.img-container {
  position: relative;
  max-height: 30%;
  
  
}

.img-show-city {
  opacity: 0.6;
  height: 40rem;
  width: 100%;
  
  
  
}

.main-title {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  letter-spacing: 10px;
  color: white;
  text-shadow: 2px 2px black;
  
}

.card-feature {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 125px;
  margin-top: 50px;
}