.img-container {
	position: relative;
	max-height: 30%;
}

.img-show-city {
	opacity: 0.86;
	filter: saturate(1.4) contrast(1.1) brightness(0.84);
	height: 93vh;
	width: 100%;
	background-size: cover;
	user-select: none;
}

.main-title {
	margin: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.01);
	border-radius: 10px;
	top: 220px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Times New Roman", Times, serif;
	font-size: 130px;
	font-weight: 100;
	-webkit-text-stroke: 0.25px rgb(102, 102, 102); /* width and color */
	letter-spacing: 21px;
	color: rgb(250, 239, 226);
	text-shadow: 0.2px 0.2px rgb(71, 71, 71);
	user-select: none;
}

.card-feature {
	background-size: cover;
	background-position: center;
	opacity: 0.85;
	height: 300px;
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 33px;
	-webkit-text-stroke: 0.1px rgb(255, 239, 226); /* width and color */
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	transition: opacity 0.8s;
	user-select: none;
}

.card-feature:hover {
	opacity: 1;
	filter: saturate(1.3);
	border: 0.01px groove rgb(214, 214, 214);
}

.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 120px;
	margin-top: 50px;
}
