.img-container {
  position: relative;
  max-height: 30%;
  
  
}

.img-show-city {
  opacity: 0.86;
  filter: saturate(1.4) contrast(1.1) brightness(.96);
  height: 95vh;
  width: 100%;
  background-size: cover; 
}

.main-title {
  margin: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.01) ;
  border-radius: 10px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
  font-size: 130px;
  font-weight: 100;
  -webkit-text-stroke: 0.5px rgb(102, 102, 102); /* width and color */
  letter-spacing: 21px;
  color: rgb(255, 242, 228);
  text-shadow: 0.4px 0.4px rgb(49, 49, 49);
  
}

.card-feature {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 125px;
  margin-top: 50px;
}