.my_video {
  position: absolute; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 50%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

.content {
  background: rgba(236, 239, 244, 0.5);
  color: rgb(0, 0, 0);
  width: 100%;
  // height: 113.3vh;
  // margin-top: 0;
}

.home-video {
  width: 99.99%;
  height: 20%;
  margin: 0 auto;
  margin-top: 0;
}

.nomad-title {
	margin: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.01);
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Times New Roman", Times, serif;
	font-size: 180px;
	font-weight: 100;
	-webkit-text-stroke: 0.2px rgb(102, 102, 102); /* width and color */
	letter-spacing: 25px;
	color: rgb(250, 239, 226);
	text-shadow: 0.2px 0.2px rgb(71, 71, 71);
	user-select: none;
}

.card-city {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.8;
  transition: opacity 0.8s;
}

.cities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  padding: 50px;
  margin-top: 50px;
  
}

.card-city:hover {
	opacity: 1;
	filter: saturate(1.3);
	border: 0.008px groove rgb(214, 214, 214);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cities {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cities {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cities {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cities {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cities {
    grid-template-columns: 1fr 1fr 1fr;
  }
}