.events-page {
  height: 79.4vh;
  margin-bottom: 7.5vh;
}

.event-title {
  margin-top: 85px;
  margin-bottom: 3vh;
  font-family: "Times New Roman", Times, serif;
}
.events-holder {
  background: white;
  padding-top: 25px;
  padding-left: 30px;
  overflow: auto;
  max-height: 500px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.events-list {
  list-style: none;
}

.calendar {
  border-radius: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.single-event {
  border-bottom: 1px rgba(0,0,0, .3) solid;
padding-top: 10px; 
padding-bottom: 10px;

p {
  padding: 0;
  margin: 0;
}
}

.event-new {
  position: relative;
  top: 60%;
}

.new-event {
  margin-top: 100px;
}

.add-btn {
  width: 170px;
}
.event-form-container {
  width: 50%;
  margin: 40px auto;
}