body {
  overflow-x: hidden;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}

.navbar {
  padding: 0 15px;
  font-size: 1 rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 999;
  .nav-item {
    padding: 15px;
    margin: 0 22px;
  }

  color: white;

  a {
    color: white;
  }
  a:hover {
    color: #F0F2F5;
  
  } 
}
.navbar-avatar {
     width: 40px;
  }

.nav-username {
  font-size: .8rem;
}

.dropdown-menu > a:hover {
  background-image: none;
  background-color: #343A40;
}

.dropdown-menu {
  background-image: none;
  background-color: #343A40;
}
.nav-current-city {
  font-weight: bold;
  letter-spacing: 2px;
}