.forum-header {
  text-align: center;
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
  background-color: white;
}

.side-pane-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
    border-bottom: 2px solid grey;
    padding: 4px;
}


.forums {
  width: 100%;
  margin: 20px 20px;
  display: flex; 
  justify-content: space-between; 
  height: 700px;
}

.forum-nav {
  height: 500px;
  width: 220px;
  text-align: right;
  background-color: white;
  margin-right: 30px;
  padding: 30px 10px;
  border-radius: 5px;
  border: 1px solid black;
}

  .forum-btn {
    display: block;
    border-radius: 2px;
    margin-top: 15px;
    font-size: 20px;
  }

  .chatroom-btn {
    display: block;
    font-size: 14px;
    border-radius: 2px;
    margin-bottom: 15px;
  }

// Posts section (right panel)
.forum-posts{
  width: 1000px;
  overflow: auto;
  max-height: 2000px;
  padding: 0 50px;
}

.new-post-form {
  display: none; /* Hidden by default */
  padding: 30px 50px;
  background-color: white;
  margin-top: 20px;
  border-radius: 15px;
  border: 2px solid #046CE7;
}



.post-card {
  padding: 30px 50px;
  background-color: white;
  margin-top: 50px;
  border-radius: 15px;
}

.post-section {
  margin-bottom: 4px;
  border-bottom: solid 1px grey;
  header {
    font-size: 30px;
  }
  small {
    font-size: 12px;
    color: gray;
  }
}

.post-content {
  font-size: 18px;
  margin-top: 10px;
}

.comments-section {
  font-size: 15px;
  margin: 20px 20px;
}

.comment-header {
  font-weight: bolder;
  margin-bottom: 2px;
}
.comment {
  padding: 5px 20px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #F0F2F5;
}



// chatroom

.live-chat {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  margin-right: 50px;
  
  padding: 30px 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.messages {
  overflow: auto;
  max-height: 550px;
}

.message-container {
  padding: 5px 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #046CE7;
  color: white;


  i {
    font-weight: bold;
  }
}

.chatroom-msg-form {
  margin-top: 15px;
  border-top: 1px solid black;
  margin-right: 65px;
}