.modal-content {
  border-radius: 10px;
  h2, h5 {
    font-family: 'Roboto', sans-serif;
  }
  
}


.sign-up-btn {
 background-color: orange;
 padding: 10px 30px;
 margin-bottom: 200px;
 
}
.modal-header {
  padding-bottom: 25px;
  
    img {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
}

.signup-container {
  width: 560px;
  margin: 10px auto;
  background-color: white;
  padding: 20px;
}

.sign-btn {
 margin-left: 200px;
 background-color: orange;
 padding: 10px 30px;
}

.sign-up-text {
padding: 0;
border: none;
background: none;
height: 24px;
}