// .weather-info-container {
//     width: 400px;
//     height: 200px;

//     color: white;
//     margin: 0;
//     position: absolute;
//     top: 30%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// .weather-icon {
//     margin: auto;
//     display: block;
//     align-items: center;
//     height: 100px;
//     width: 100px;
// }
// .fas {
//     font-size: 24px;
//     line-height: 1.2;
// }

.card-weather {
	background-color: rgba(255, 255, 255, 0.7);
	font-family: "Marcellus", serif;
	font-weight: 900;
	position: absolute;
	bottom: 50px;
	left: 67px;
	border-radius: 50px;
	width: 75%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	user-select: none;
}

#heading {
	font-size: 55px;
	color: #2b304d;
}

.temp {
	place-items: center;
}

.temp-details > p > span,
.grey {
	color: #a3acc1;
	font-size: 12px;
}

.fa {
	color: #a5a5b1;
}

*:focus {
	outline: none;
}
