// .weather-info-container {
//     width: 400px;
//     height: 200px;
    
//     color: white;
//     margin: 0;
//     position: absolute;
//     top: 30%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// .weather-icon {
//     margin: auto;
//     display: block;
//     align-items: center;
//     height: 100px;
//     width: 100px;
// }
// .fas {
//     font-size: 24px;
//     line-height: 1.2;
// }

.card {
    background: #f4f9f9;
    
    
    font-family: 'Marcellus', serif;
    position: absolute;
    bottom: 50px;
    left: 10px;
    border-radius: 50px;
    width: 100%;
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #a3acc1;
    font-size: 12px
}

.fa {
    color: #a5a5b1;
}

*:focus {
    outline: none
}