<div class="content">
  <%=cl_video_tag "video_eilxor", loop: true, autoplay: true, class: "wrapper home-video"%>
  <h1 class="nomad-title">NomadConnect</h1>
</div>

<div class="container">
<h1 class="text-center cities-title"><strong class="connect">Connect</strong> With People</h1>
<h2 class="text-center cities-sub-title">Anywhere</h2>
  <section class="cities">
    <% @cities.each do |city| %>
      <%= link_to city_path(city) do %>
        <div class="card-city" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path city.photo_key, height:300, width:300 %>)">
          <%= city.name %>
        </div>
      <% end %>
    <% end %>
  </section>
</div>
